.nav-bar{
    height: 60px;
    border-bottom: 1px solid #dedede;
    width: calc(100vw - 82px);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 80px;
    background: #fff;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 24px;
    .app-name{
        color: #fff;
        line-height: 40px;
        background: #ec7200;
        width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 600;
        letter-spacing: 2.5px;
    }
    .caption{
        margin-left: 30px;
        font-weight: 400;
    }
}