<div *ngIf="!loading" class="container-fluid">
    <div class="ads row">
        <ng-container *ngFor="let ad of ads | adFilter: searchText">
            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="ad" (click)="openAdDetails(ad)">
                    <div class="image">
                        <img [src]="ad.image[0]">
                    </div>
                    <div class="details">
                        <div class="sub">
                            <div class="price">
                                ${{ad.price | number}}
                            </div>
                            <div class="name">
                                {{ad.name}}
                            </div>
                            <div style="width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden" class="description">
                                {{ad.description}}
                            </div>
                            <div class="meta d-flex justify-content-between">
                                <div>{{ad.location}}</div>
                                <div>{{ad.date | dateAgo}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="ads.length === 0" class="text-center d-flex justify-content-center w-100 align-items-center"
            style="height: 70vh;">
            <span>
                No data found.
            </span>
        </div>
    </div>
</div>
<div *ngIf="loading" class="align-items-center d-flex justify-content-center" style="height: 70vh;">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>


<nz-modal [(nzVisible)]="showAdDetails" nzTitle="Ad. Details" nzClassName="ad-details-modal"
    [nzBodyStyle]="{height:'80vh'}" (nzOnCancel)="closeAdDetails()" [nzStyle]="{width:'80%'}">
    <ng-container *nzModalContent>
        <div *ngIf="selectedAd">
            <div class="row ad-details">
                <div class="col-8">
                    <div class="images">
                        <div class="d-flex image justify-content-center">
                            <div class="navigation left" (click)="navigateLeft()">
                                <i nz-icon nzType="caret-left" nzTheme="outline"></i>
                            </div>
                            <img [src]="selectedAd.image[imageIndex]" alt="">
                            <div class="navigation right" (click)="navigateRight()">
                                <i nz-icon nzType="caret-right" nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="details">
                        <div class="name">{{selectedAd.name}}</div>
                        <div class="price">${{selectedAd.price | number}}</div>
                        <div class="info"> Listed {{selectedAd.date | dateAgo}} in {{selectedAd.location}} by
                            {{selectedAd.sellerName}}</div>
                        <div class="meta">
                            <div class="header">Details</div>
                            <div class="value">{{selectedAd.description}}</div>
                        </div>
                    </div>
                    <div class="row button-group">
                        <div class="col-6 save" *ngIf="selectedAd.sellerId !== userId">
                            <button nz-button nzType="default" nzSize="large" (click)="onMessageClick()">
                                <div class="d-flex justify-content-center align-items-center">
                                    Message &nbsp;
                                    <i nz-icon nzType="message" nzTheme="outline"></i>
                                </div>
                            </button>
                        </div>
                        <div class="col-6 chat" *ngIf="selectedAd.sellerId !== userId">
                            <button nz-button nzType="primary" nzSize="large"
                                (click)="!saveLoading&&saveAd(selectedAd)">
                                <div class="d-flex justify-content-center align-items-center">
                                    {{selectedAd.savedUsers.includes(userId)?'UnSave':'Save'}} &nbsp;
                                    <i nz-icon nzType="save" nzTheme="outline"></i>
                                </div>
                            </button>
                        </div>
                        <div *ngIf="selectedAd.sellerId === userId" class="col-12 delete">
                            <button nz-button nzType="primary" nzSize="large" nzDanger (click)="deleteAdClick()">
                                <div class="d-flex justify-content-center align-items-center">
                                    Delete Ad. &nbsp;
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div *nzModalFooter class="d-none">
    </div>
</nz-modal>


<nz-modal [(nzVisible)]="showDelete" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="cancelDelete()">
    <ng-template #modalTitle>Delete!</ng-template>
    <ng-template #modalContent>
        <p>Do you really want to delete this ad? This action cannot be undone.</p>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="cancelDelete()">Cancel</button>
        <button nz-button nzType="primary" (click)="confirmDelete()" nzDanger [nzLoading]="deleteLoading">Yes,
            Delete</button>
    </ng-template>
</nz-modal>